:root {
  --background: #242038;
  --secondary: #725ac1;
  --teritary: #8d86c9;
  --gray: #cac4ce;
  --white: #f7ece1;
  --finished: #8b888c;
}

* {
  padding: 0;
  margin: 0;
}

main {
  background-color: var(--background);
  color: var(--white);
  width: 100%;
  /* padding: 20px; */
  min-height: 100vh;
}

p {
  color: var(--white);
}
