.logo {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  display: block;
}

.teams {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

hr {
  width: 100%;
  border: 1px solid black;
  margin-top: 10px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-style: bold;
}

.homeTeam,
.awayTeam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.matches {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.oneMatch {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  width: 80%;
  margin-top: 10px;
}

h1 {
  color: var(--white);
  text-align: left;
  margin-top: 20px;
}

.matchHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  background-color: var(--secondary);
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* color: var(--white); */
}

.wholeMatch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: var(--gray);
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wholeMatch,
.matchInfo > div > p,
.liveInfo > div > p,
.homeTeam > p,
.awayTeam > p,
.wholeMatch > div > p {
  color: black;
}

.matchInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
  position: relative;
}

.liveInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  gap: 5px;
}

.liveInfo > p {
  max-width: fit-content;
}

.stadiumInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 50%;
}

.stadium,
.attendance {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.stadium > p,
.attendance > p {
  color: black;
}

.when {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.reporter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.oneMatch.ended .matchHeader p:first-child {
  font-weight: bold;
}

.oneMatch.ended .wholeMatch {
  background-color: var(--finished);
}

.oneMatch.ongoing .matchHeader {
  background-color: green;
  color: white;
}
