.theDates {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow-x: auto;
  padding: 10px;
  gap: 10px;
}

button:active {
  background-color: var(--teritary);
  color: var(--white);
}

.theDates button {
  background-color: var(--secondary);
  color: var(--white);
  border: 1px solid var(--white);
  display: flex;
  gap: 10px;
  flex-direction: row;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.theDates {
  display: flex;
  gap: 10px;
}

.theDates button {
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.theDates button:hover {
  background-color: var(--teritary);
}

.theDates button.active {
  background-color: var(--teritary);
  color: white;
  text-decoration: underline;
}
